<form method='POST' action='/new'>
    <label for='author'>Author</label>
    <input id='author' name='newAuthor'/>
    <label for='message'>Message</label>
    <input id='message' name='newMessage'/>
    <button type="submit">Submit</button>
</form> 